* {
  padding: 0;
  margin: 0;
}
h1 {
  color: blue;
  >span {
    font-size: 12px;
  }
}

#box {
  width: 300px;
  height: 300px;
  background-image: url("~image4.png");
}

#box2 {
  width: 300px;
  height: 300px;
  background-image: url("~image6.jpg");
}